%h2 Warning: No auth

- @game_weeks.each do |game_week|
  %p
    = game_week.name
    %br/
    Full GW URL:
    = link_to gw_url(game_week.access_token), gw_url(game_week.access_token)
    %br/
    - game_week.matches.each do |match|
      = match.name
      = link_to direct_match_link(match), direct_match_link(match)
      %br/
