%h2 Warning: No auth

%table
  %tr
    %th Gameweek
    %th Actions
    %th URL
  - @game_weeks.each do |game_week|
    %tr
      %td= game_week.name
      %td
        %button Set up
        %button Sync scores
      %td= link_to gw_url(game_week.access_key), gw_url(game_week.access_key)
