
#landing-page
  .content
    FPL Side Games
    %br/
    %br/
    If you need to get in touch with the site administrator send a
    = link_to 'FISO PM to Sharagoz', 'http://www.fiso.co.uk/forum/memberlist.php?mode=viewprofile&u=48561'
