%h1.page-header
  - unless @game_week == 1
    = link_to '<', {game_week: @game_week - 1}
  Five-a-side GW#{@game_week}
  - unless @game_week == 38
    = link_to '>', {game_week: @game_week + 1}

- if @matches.empty?
  .missing-matches No matches here yet
- else
  - @matches.each do |match|
    = render 'scoreboard', match: match
