//
//= require scoreboard
//= require_self

html
  font-family: 'Lato'
  font-size: 16px

a, a:visited
  color: blue
  text-decoration: none

.page-header
  text-align: center

.missing-matches
  font-size: 1.5rem
  text-align: center
