!!!
%html
  %head
    %title Five-a-side
    %link{:href => "https://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .public-notice
      BP prediction is a new feature that is currenly being tested.
      %span.nowrap Scores may be wrong.
    = yield
