%table.score_sheet
  %tbody
    %tr
    %tr
      %th Lovely_Camel
      %th.pts_total
        %span.behind> 53
        \ 
        %span.ahead 60
      %th malefice
      %th.disadvantage{:rowspan => "2"}
    %tr
      %td.squad Terry Lampard
      %td
      %td.squad
        %span.pts +7
        Ivano Lukaku
    %th Moist von Lipwig
    %th.pts_total
      %span.ahead> 74
      \ 
      %span.behind 58
    %th RomynPG
    %th.advantage{:rowspan => "2"}
    %tr
      %td.squad
        %span.pts +16
      %td
      %td.squad
    %th Sharagoz
    %th.pts_total
      %span.behind> 58
      \ 
      %span.ahead 68
    %th BigJohnS
    %th.tctc{:rowspan => "2"}
    %tr
      %td.squad Lampard Lukaku
      %td
      %td.squad
        %span.pts +10
        Cole Ivano
    %tr
      %th From4Corners
      %th.pts_total
        %span.ahead> 69
        \ 
        %span.behind 40
      %th bagaboy
      %th.tctc{:rowspan => "2"}
    %tr
      %td.squad
        %span.pts +29
        Oscar
      %td
      %td.squad Chech
    %tr
      %th McNulty
      %th.pts_total
        %span.ahead> 72
        \ 
        %span.behind 58
      %th Le Red
      %th.advantage{:rowspan => "2"}
    %tr
      %td.squad
        %span.pts +14
      %td
      %td.squad Ivano
    %tr
